{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    ["transform-runtime", {
      "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
